/*  */


/* AdminPage */


/*  */

.adminPage-container {
    padding: 80px;
}

.styled-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.short-column {
    width: 30px;
}

.styled-table thead tr {
    background-color: #327f87;
    color: #ffffff;
    overflow: hidden;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    padding: .35em;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #81a135;
}

.btn-delete {
    background-color: #f44336;
}

.btn-view {
    background-color: #9ed9db;
    color: black;
}

.no-results {
    font-size: 80px;
    color: rgba(0, 0, 0, 0.30);
}

@media screen and (max-width: 600px) {
    .adminPage-container {
        padding: 45px;
    }
    table {
        border: 0;
    }
    .short-column {
        width: 100%;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid rgb(155, 149, 149, 0.4);
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid rgb(155, 149, 149, 0.4);
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}


/* general styling */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}